##############################################################################
#                                                                            #
#   Copyright 2013 TripAdvisor, LLC                                          #
#                                                                            #
#   Licensed under the Apache License, Version 2.0 (the "License");          #
#   you may not use this file except in compliance with the License.         #
#   You may obtain a copy of the License at                                  #
#                                                                            #
#       http://www.apache.org/licenses/LICENSE-2.0                           #
#                                                                            #
#   Unless required by applicable law or agreed to in writing, software      #
#   distributed under the License is distributed on an "AS IS" BASIS,        #
#   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. #
#   See the License for the specific language governing permissions and      #
#   limitations under the License.                                           #
#                                                                            #
##############################################################################


#
# Please copy this example config file to a file named
# "hqt_config.yaml" in the same directory, then edit that
# with your desired settings.
#


# this is used to encrypt session/cookie info
secret: "it's a secret to everyone"

# where the front-end's web-server will listen
frontend_listen: "http://127.0.0.1:3030"

# where the back-end's web-server will listen
backend_listen: "http://127.0.0.1:9090"

email_from_name: "Hive Query Tool"
email_from_addr: "hivequerytool@mydomain.com"

# relative to the application root, where to create/find the templates dbm file
template_dbm: "data/templates.db"

# where to create/find the job info dbm file
jobs_dbm: "data/jobs.db"

# directory from which to load templates
hql_template_dir: "hql_templates/"

# the backend can use sudo to run hive as the users logged into the front-end,
# if the OS is configured to auth against LDAP/NIS and sudo is configured as
# per the instructions in the HQT docs.
# NOTE: if frontend_auth is "none" this should almost always be set to "yes".
backend_use_sudo: "yes"

# what method of authentication to use. Set to "none" or
# comment-out to disable user-authentication.
frontend_auth: "ldap"

# Config for using LDAP for authentication.
ldap_config:
  server_url: 'ldap://ldap.mydomain.com/'
  user_base:  'ou=people,dc=mydomain,dc=com'
  #cacert_dir: '/etc/openldap/certs/'
  verify_cert: 'none'
  enable_tls: 1

